.welcome {
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.words {
    flex: 1;
    text-align: left;
    width: 574px;
}

.home {
    font-size: 27px;
    font-weight: 600;
    color: #343434;
}

.heading {
    font-size: 72px;
    font-weight: 800;
    color: var(--color-blue-text);
    font-family: "plus-jakarta-sans";
    font-family: var(--font-pjs);
}

.description {
    padding-top: 15px;
    color: var(--color-grey-text);
    font-size: 23.42px;
    font-weight: 400;

}

.buttons {
    padding-top: 20px;
    padding-bottom: 30px;
}

.buttonOne {
    background-color: var(--color-button);
    color: var(--color-white-text);
    border-radius: 36.65px;
    padding: 20px 25px;
    border: none;
    margin-right: 15px;
}

.buttonTwo {
    color: var(--color-button);
    background-color: var(--color-white-text);
    border: 2px solid var(--color-button);
    border-radius: 36.65px;
    padding: 15px 20px;
}






@media screen and (max-width: 830px) {

    .welcome {
        display: grid;
        /* column thingy */
    }
    
    .buttons {
        padding-bottom: 50px;
    }
}


.revolve {
    flex: 1;
    text-align: right;
    /* padding-bottom: 10px; */
}

.atom {
    height: 100vh;
    place-items: center;
    display: grid;
}


.circle1 {
    width: 290px;
    height: 290px;
    border-radius:50%;
    background-color: #72D6FF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle2 {
    width: 270px;
    height: 270px;
    border-radius:50%;
    background-color: #B0E8FF99;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle3 {
    width: 250px;
    height: 250px;
    border-radius:50%;
    background-color: #D6F3FF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.path {
    position: relative;
    padding: 50px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* border: 1px solid var(--color-blue-text); */
    animation: spin 3s infinite linear;

}
  
.path .ball {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background: linear-gradient(231.49deg, #DCF5FF 0%, #9CBFD8 100.03%);
    border-radius: 50%;
    animation: anti-spin 3s infinite linear;
    color: var(--color-white-text);
    position: absolute;
    text-align: center;
    /* z-index: 2; */
}


@keyframes spin {
    0% {transform: scaleY(.5) rotate(0deg);}
    100% {transform: scaleY(.5) rotate(360deg);}
}

@keyframes anti-spin {
    0% {transform: rotate(0deg) scaleY(2) rotate(30deg) scale(1);}
    100% {transform: rotate(-360deg) scaleY(2) rotate(30deg) scale(1);}
}


.one {
    rotate: 15deg;
    position: relative;
    left: -50px; /* Add this line */
}
.two {
    rotate: 75deg;
    transform: rotate(15deg) translateX(-50px);

}

.three {
    rotate: 135deg;
    transform: rotate(15deg) translateX(-50px);

}

.four {
    rotate: 195deg;
}

.five {
    rotate: 255deg;
}

.six {
    rotate: 315deg;
}

.image1 {
    rotate: -40deg;
}

.image2 {
    rotate: -110deg;
}

.image3 {
    rotate: -170deg;
}

.image4 {
    rotate: -230deg;
}

.image5 {
    rotate: -290deg;
}

.image6 {
    rotate: -350deg;
}
